body {
  background-color: rgb(213, 183, 207);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-box2 {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 5px;
}

div > img {
  margin-left: 70px;
}

.button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-size: larger;
  background-color: rgb(130, 130, 189);
  border: none;
  font-weight: bold;
}

.pointer-A {
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 30px solid white;
  border-bottom: 15px solid transparent;
}


.pointer-B {
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 30px solid white;
  border-bottom: 15px solid transparent;
}
